# Diretórios
node_modules/
dist/
logs/

# Arquivos de variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários
*.tmp
*.temp
.DS_Store
Thumbs.db

# Diretório de cobertura de testes
coverage/

# Arquivos de cache
.npm
.eslintcache
.vscode/ 